.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23.3rem;
    margin-bottom: 2rem;

    &__content {
        transform: scale(.5);
        padding-top: 10.9rem;
        width: 55rem;

        @include respond(phone) {
            width: 40rem; 
        }
    }
}