.frame__nav {
    background-color: $color-white;
    padding: .2rem;
    height: 40rem;
    width: 28rem;
    position: absolute;
    top: 6rem;
    right: 4.5rem;
    border: 1px solid $color-grey-light-1;
    border-radius: .8rem;
    box-shadow: 0 0 .8rem #CCC;
    display: none;
    overflow: scroll !important;
    z-index: 1000;

    @include respond(big-desktop) {
        width: 20rem; 
        height: 30rem;
        top: 15rem;
        right: 15rem;
        transform: scale(1.7);
    }
}

.frame__info {
    background-color: $color-white;
    display: none;
    height: 36rem;
    width: 35rem;
    position: absolute;
    top: 4.5rem;
    right: 1rem;
    border: 1px solid $color-grey-light-1;
    border-radius: .8rem;
    box-shadow: 0 0 .8rem #CCC;
    z-index: 1000;

    @include respond(tab-port) {
        height: 41rem;
    }

    @include respond(big-desktop) {
        width: 25rem;
        height: 27rem;
        top: 15rem;
        right: 10rem;
        transform: scale(1.7);
    }
}



