* {
    margin: 0;
    padding: 0;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;


    @include respond(tab-port) {
        font-size: 55%;
    }

    @include respond(big-desktop) {
        font-size: 85%;
    }

    

      
  }

  body {
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: $color-text;
  }
  
  body::-webkit-scrollbar {
    width: .8rem;
  }
   
  body::-webkit-scrollbar-track {
    background: white;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: $color-grey-light-1;
    border-radius: .5rem;
  }

  .account {
      border-radius: 50%;
  }


